.bg {
    background:linear-gradient(rgb(230, 248, 252),transparent);
    background-color: rgb(143, 228, 252);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.removeCart{
    color:rgb(253, 82, 82);
    margin-top:1em;
    cursor: pointer;
}
.trash{
    cursor: pointer;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image {
    width: 150px;				/* width of image (px or % or auto) */
    height: auto;				/* height of image (px or % or auto) */
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.incrementDecrement{
    background-color: rgb(255, 255, 255);
    border: 1px solid #999;
    
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin:0;
    padding: 0 .5em 0 .5em;
}
.incrDecrQuantity {
    cursor: default;
    padding: 0 .5em 0 .5em;
    border-radius: 0;
}
.decrButton{
    border-radius: 10% 0 0 10%;
}
.incrButton{
    border-radius: 0 10% 10% 0;
}