ul {
  list-style-type: none;
  text-decoration: none;
  font-family: calmer;
  padding: 1.5em;
  text-align: left;

}
li {
  display: inline;
  text-decoration: none;
  background: white;
}
.nav a {
  color: black;
  text-decoration: none;
  font-family: calmer;
  font-size: 20px;
  padding: 1em;
  
}
.nav a:hover{
  color: lightskyblue;
}
@font-face{
  font-family: calmer;
  src: ('Calmer Regular.ttf');
}
nav{
  background-color: white;
  padding-top: 2em;
}
#logo{
  width:200px;
  height: 80px;
  
  
}
.topnav {
  display: inline;
  background-color: #FFFFFF;
  overflow: hidden;
  font-family: calmer;
  font-weight: 300;
   
}
.topnav a {
   vertical-align: middle;
   float: right;
   color: black;
   text-align: center;
   padding: 14px 16px;
   font-size: 20px;
   margin: 5px;
   margin-top: 1em;
 
}
 