
html{
    overflow-x: hidden;
}
@font-face{
    font-family: calmer;
    src: ('../fonts/Calmer Regular.ttf');
}
@font-face{
    font-family: Roboto;
    src: ('../fonts/Roboto-Black.ttf');
}
.watermelon{
    background-image: url(../laundrassets/tessalations/watermelon_pattern.png); 
    
    background-position: 0px 0px;
    
    animation: animatedBackground 20s linear infinite alternate; 
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0px -300px; }
}
.prodName{
    font-family: calmer;
    font-size: 9vw;
    color: #01C9E1;
    padding: 0.5em;
    margin: 0;
    padding-bottom: 1em;
    font-weight: bold;
    text-shadow: 2px 2px black;
}
.bag1{
    position: absolute;
    z-index: 2000;
    left: 15vw;
    top: 20vh;
    transform: rotate(90deg);
    width: 50%;
}
.bomb{
    position: fixed;
    z-index: 2000;
    width: 20%;
    top:38vh;
    left:45vw;

}
.description{
    padding: 2em;
    width: 100% !important;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.textBlock{
    margin: 1.5em;
}
.textBlock p, li{
    font-size: 20px;
}
.textBlock h2{
    font-size: 40px;
    color: #01C9E1;
}
.prod-des{
    line-height: 1.6;
}
.cart{
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}
.cart-price{
    margin: 15px;
}
.gardenia { 
    background-image: url(../laundrassets/tessalations/gardenia_pattern.png);
    background-position: 0px 0px;
    
    animation: animatedBackground 20s linear infinite alternate; 
 }
.mahogany { background-image: url(../laundrassets/tessalations/mahogany_pattern.png);
    background-position: 0px 0px;
    
    animation: animatedBackground 20s linear infinite alternate;  
 }
.freshair { background-image: url(../laundrassets/tessalations/freshair_pattern.png); 
    background-position: 0px 0px;
    
    animation: animatedBackground 20s linear infinite alternate; 
  background-size:80%;
}
.vanilla { background-image: url(../laundrassets/tessalations/vanilla_pattern.png);
    background-position: 0px 0px;
    
    animation: animatedBackground 20s linear infinite alternate; 
 }
.eucalyptus { background-image: url(../laundrassets/tessalations/eucalyptus_pattern.png);
    background-position: 0px 0px;
  
    animation: animatedBackground 20s linear infinite alternate;  
 }
 @media (max-width: 575.98px) { 
    .bomb{
        top:18vh;
    }
    .bag1{
        left: 0vw;
        top:12vh;
        width: 70%;
    }
    .prodName{
        font-size: 6vmax;
    }
    .prodNameSm{
        font-size: 9vmax;
    }
    .product{
        padding-top: 10px;
    }
    
 }
 